.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 12;
  overflow: hidden;
}

.animation-content {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  .years-slider {
    width: 140%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    align-items: center;
    @media all and (min-width: $desktop) {
      width: 100%;
    }
    .primary-text {
      font-size: 40vh;
      text-align: left;
      color: transparent;
      text-shadow: 0 0 15px $green;
      min-width: 100%;
    }
  }
}

.frame-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 288px;
  max-height: 288px;
  padding-left: 18.5px;
  z-index: 10;
  @media all and (min-width: $tablet) {
    max-width: 544px;
    max-height: 544px;
    padding-left: 35px;
  }
  margin: 0 auto;
  display: flex;
  align-items: center;
  .line {
    position: absolute;
    background-color: $green;
    &--horizontal {
      height: 3.7px;
      width: 100%;
      @media all and (min-width: $desktop) {
        height: 7px;
      }
    }
    &--vertical {
      height: 100%;
      width: 3.7px;
      @media all and (min-width: $desktop) {
        width: 7px;
      }
    }
    &--top {
      top: 0;
      left: 0;
      width: 0;
    }
    &--bottom {
      bottom: 0;
      left: 0;
      width: 0;
    }
    &--right {
      right: 0;
      top: 0;
      height: 0;
    }
    &--left {
      top: 0;
      left: 0;
      height: 0;
    }
  }
  .text-wrapper {
    position: relative;
    //overflow: hidden;
    z-index: 10;

    .primary-text {
      width: 0;
      overflow: hidden;
      white-space: nowrap;
      font-size: 50px;
      @media all and (min-width: $tablet) {
        font-size: 94px;
      }
      &--bottom {
        padding-top: 30px;
        position: relative;
        
        @media all and (min-width: $tablet) {
          padding-top: 40px;
        }
      }
      span {
        color: $green;
      }
      &--animate {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 120vw;
        width: 150%;
        font-size: 40vh;
        text-align: left;
        color: transparent;
        text-shadow: 0 0 15px $green;
      }
    }
  }
}