#cookies-message-container {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
#cookie {
    margin: auto;
    padding: 10px 0 10px 0;
    width: 95%;
    max-width: 1200px;
    position: relative;
    }

#cookies-message {
    display: inline-block;
    float: left;
    width: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 10px 200px 13px 0;
    font-size: 10px;
	line-height: 10px;
    text-align: justify;
    a {
        color: white;
        text-decoration: underline;
    }
    }

.cookie {
    font-weight: bold;
    }

#cookie .close {
    color: #fff;
    font-size: 14px;
    background: #00915a;
    text-decoration: none;
    padding: 10px 25px;
    opacity: 1;
    position: absolute;
    right: 60px;
    top: 24px;
    box-sizing:initial;
	}

#cookie .close:hover,#cookie .close-2:hover {
    opacity:0.8;
	}

#cookie .close-2{
    background: #FFF;
    padding: 10px 12px;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 7px;
    }
.accept-cookies-checkbox{text-decoration:none;}
#cookie a span{text-decoration:none;}

@media screen and (max-width: 690px) {
#cookies-message {
    padding: 10px 10px 30px;
	}
#cookie .close {
    padding: 10px 25px;
    position: relative;
    right: -10px;
    top: -9px;
    display: inline-block;
	}
}
