.card {
  width: 100%;
  @media all and (min-width: $tablet) {
    width: 50%;
  }
  @media all and (min-width: $desktop) {
    width: 33.333333%;
  }
}

.btn-wrapper {
    cursor: pointer;
    background-color: $green;
    .arrow-down {
      margin-left: 10px;
    }
    .btn {
        margin: 0 auto;
        text-align: center;
        padding: 16px;
        a {
          color: white;
          font-family: 'BNP-Sans';
          font-size: 22px;
        }
    }
}

.climate {
    display: flex;
    flex-wrap: wrap;
    &__item {
      min-height: 417px;
      width: 100%;
      @media all and (min-width: $desktop) {
        width: 50%;
        //height: 39vw;
        min-height: 477px;
      }
      @media all and (min-width: $desktop-lg) {
        min-height: 618px;
      }
      &--text {
        background-color: $grey;
        display: flex;
        align-items: center;
        padding-left: 20px;
        @media all and (min-width: $desktop) {
          padding-left: 40px;
        }
        // padding: 93px 36px 93px 21px;
        // @media all and (min-width: $desktop) {
        //   padding: 124px 30px 132px 40px;
        // }
      }
      &--img {
        background-image: url('../img/bitmap.png');
        background-position-x: center;
      }
    }
    &-results {
      .climate__item--img {
        order: 2;
        @media all and (min-width: $desktop) {
          order: inherit;
        }
        background-image: url('../img/shutterstock.png');
        background-position-x: right;
      }
    }
}


.primary-text {
  font-family: 'BNP-Bold';
  font-stretch: condensed;
  font-size: 55px;
  @media all and (min-width: $desktop) {
    font-size: 94px;
  }
}
.secondary-text {
  font-family: 'BNP-Sans-Light';
  font-size: 18px;
  line-height: 1.29;
  //max-width: 469px;
  padding-top: 15px;
  @media all and (min-width: $desktop) {
    padding-top: 0;
    font-size: 24px;
  }
  &--bottom {
    padding-top: 20px;
  }
  span {
    font-family: 'BNP-Sans';
  }
}


.climate-problems {
    display: flex;
    flex-wrap: wrap;
}

.climate-issue {
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:nth-of-type(2n) {
      background-color: $green;
      .problem-details {
        color: white;
      }
    }
    &:nth-of-type(1) {
      img {
        padding-top: 23px;
      }
    }
    &:nth-of-type(2) {
      img {
        padding-left: 26px;
      }
    }
    &:nth-of-type(3) {
      @media all and (min-width: $tablet) {
        order: 3;
      }
      @media all and (min-width: $desktop) {
        order: inherit;
      }
    }
    &:nth-of-type(6) {
      @media all and (min-width: $tablet) {
        order: 4;
      }
      @media all and (min-width: $desktop) {
        order: inherit;
      }
    }
  .problem-details {
    padding-top: 26px;
    font-family: 'BNP-Sans-Light';
    font-size: 16px;
    line-height: 1.44;
    text-align: center;
    margin: 0 auto;
    span {
      font-family: 'BNP-Sans';
    }
  }

  img {
    display: block;
    margin: 0 auto;
  }

}

.climate-rescue {
    padding: 73px 20px 74px 20px;
    min-height: 418px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media all and (min-width: $desktop) {
      padding: 137px 120px 118px 45px;
    }
    .primary-text {
      text-transform: uppercase;
      font-family: 'BNP-Light';
      font-size: 45px;
      @media all and (min-width: $desktop) {
        font-size: 94px;
      }
      span {
        font-family: 'BNP-Bold';
      }
    }
    .secondary-text {
      max-width: none;
      font-size: 18px;
      @media all and (min-width: $desktop) {
        font-size: 25px;
      }
      
    }
}

.active {
  width: 95% !important;
  max-width: 245px !important;
  min-height: 248px !important;
  padding-bottom: 20px !important;
  padding-right: 10px !important;
}

.active-bg {
  background-color: rgba(0,0,0,0.85) !important;
}

.hidden {
  display: none !important;
}

.text-show {
  transform: scale(1) !important;
}