@keyframes grow-up {
  from {
    height: 0;
    top: 100%; }
  to {
    height: 100%;
    top: 0; } }

@keyframes grow-down {
  from {
    height: 0; }
  to {
    height: 100%; } }

@keyframes grow-left {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes grow-right {
  from {
    width: 0;
    left: 100%; }
  to {
    width: 100%;
    left: 0; } }

@keyframes show-text {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes years {
  from {
    left: 100%; }
  to {
    left: -3200%; } }

@keyframes years-mobile {
  from {
    left: 100%; }
  to {
    left: -3200%; } }

@keyframes years-last {
  0% {
    left: 100%; }
  10% {
    left: 0vw; }
  90% {
    left: 65%; }
  98% {
    left: 65%vw;
    color: #00975f; }
  100% {
    left: 65%;
    top: 71%;
    color: #00975f;
    width: 35%;
    font-size: 94px;
    text-shadow: none; } }

@keyframes years-last-mobile {
  0% {
    left: 100%; }
  10% {
    left: 0vw; }
  90% {
    left: 0vw; }
  98% {
    left: 65%;
    top: 71%;
    width: 35%; }
  100% {
    left: 65%;
    top: 73%;
    width: 35%;
    font-size: 50px;
    text-shadow: none;
    color: #00975f;
    width: 35%;
    min-width: none !important; } }

@keyframes slide-up {
  from {
    top: 0; }
  to {
    top: -100%; } }

.grow-up {
  animation: grow-up 0.2s ease forwards; }

.grow-down {
  animation: grow-down 0.2s ease 0.4s forwards; }

.grow-left {
  animation: grow-left 0.2s ease 0.2s forwards; }

.grow-right {
  animation: grow-right 0.2s ease 0.6s forwards; }

.show-text-1 {
  animation: show-text 0.3s steps(14, end) 0.8s forwards; }

.show-text-2 {
  animation: show-text 0.3s steps(8, end) 1.1s forwards; }

.show-text-3 {
  animation: show-text 0.3s steps(15, end) 1.4s forwards; }

.slide-years {
  animation: years-mobile 4.8s ease-in-out 1.1s forwards; }
  @media all and (min-width: 768px) {
    .slide-years {
      animation: years 4.8s ease-in-out 1.1s forwards; } }

.slide-up {
  animation: slide-up 1.8s cubic-bezier(0.93, 0, 0.18, 1) 4.7s forwards; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px; }

div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom; }

a {
  text-decoration: none; }

.only-desktop {
  display: none; }
  @media all and (min-width: 1025px) {
    .only-desktop {
      display: block; } }

@media all and (min-width: 1025px) {
  .only-mobile {
    display: none !important; } }

@font-face {
  font-family: 'BNP-Bold';
  src: url("../fonts/BNPPSansCondBoldv2.otf") format("otf"), url("../fonts/BNPPSansCondBoldv2.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'BNP-Light';
  src: url("../fonts/BNPPSansCondLightv2.otf") format("otf"), url("../fonts/BNPPSansCondLightv2.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'BNP-Regular';
  src: url("../fonts/BNPPSansCondv2.otf") format("otf"), url("../fonts/BNPPSansCondv2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BNP-Sans';
  src: url("../fonts/bnppsans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BNP-Sans-Light';
  src: url("../fonts/bnppsanslight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden; }
  .header .card {
    position: relative;
    font-family: 'BNP-Bold';
    text-align: center;
    min-height: 278px; }
    @media all and (min-width: 501px) {
      .header .card {
        height: 51vw;
        max-height: 400px; } }
    @media all and (min-width: 1025px) {
      .header .card {
        min-height: 373px;
        max-height: none;
        height: calc(50vh - 27px); } }
    @media all and (min-width: 1800px) {
      .header .card {
        min-height: 420px; } }
    .header .card-title {
      min-height: 276px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap; }
      @media all and (min-width: 768px) {
        .header .card-title {
          padding-top: 62px;
          display: block;
          height: auto; } }
      .header .card-title h1 {
        width: 100%;
        font-size: 69.6px;
        text-align: left;
        padding-left: 20px; }
        @media all and (min-width: 768px) {
          .header .card-title h1 {
            font-size: 92px;
            padding-left: 40px; } }
        .header .card-title h1 span {
          color: #00975f; }
      .header .card-title p {
        margin: 0 auto;
        font-size: 18.1px;
        margin: 0 auto;
        padding-left: 20px;
        font-family: 'BNP-Sans-Light';
        line-height: 28px;
        text-align: left; }
        @media all and (min-width: 768px) {
          .header .card-title p {
            font-size: 24px;
            padding-left: 40px; } }
      .header .card-title .text-wrapper {
        width: 100%;
        margin: 0 auto; }
    .header .card--food {
      background-color: black;
      padding: 25px 0 0 20px; }
      @media all and (min-width: 1025px) {
        .header .card--food {
          padding: 40px 0 0 41px; } }
      .header .card--food p {
        text-align: left;
        color: white; }
        .header .card--food p.details {
          padding-top: 20px;
          font-family: 'BNP-Light';
          width: 100%;
          font-size: 17px;
          line-height: 1.26;
          font-stretch: condensed;
          overflow: hidden;
          white-space: nowrap;
          transform: scale(0);
          transform-origin: top left;
          transition: 0.2s; }
          @media all and (min-width: 375px) {
            .header .card--food p.details {
              font-size: 19px; } }
        .header .card--food p.primary-text {
          font-size: 33px; }
        .header .card--food p.food-price {
          font-size: 60px;
          padding-top: 7px; }
          .header .card--food p.food-price span {
            font-size: 33px; }
      .header .card--food__text {
        transition: 0.4s;
        border: 7px solid #00975f;
        width: 167.5px;
        height: 167.5px;
        padding: 19px 0 0 11px;
        position: relative;
        z-index: 10;
        max-width: 245px; }
        @media all and (min-width: 1025px) {
          .header .card--food__text {
            max-width: 300px; } }
        .header .card--food__text .preview-btn {
          height: 24px;
          width: calc(100% + 14px);
          background-color: #00975f;
          position: absolute;
          font-family: 'BNP-Sans';
          font-size: 10px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          left: -7px;
          bottom: -26px; }
          .header .card--food__text .preview-btn .arrow {
            font-size: 20px;
            font-family: 'BNP-Sans'; }
          .header .card--food__text .preview-btn p {
            margin-left: -13px; }
    .header .card-raspberry {
      background-image: url("../img/malinamobile.png"); }
      @media all and (min-width: 1025px) {
        .header .card-raspberry {
          background-image: url("../img/malina.png"); } }
    .header .card-tomato {
      background-image: url("../img/pomidormobile.png"); }
      @media all and (min-width: 1025px) {
        .header .card-tomato {
          background-image: url("../img/pomidor.png"); } }
    .header .card-pear {
      background-image: url("../img/gruszkimobile.png"); }
      @media all and (min-width: 1025px) {
        .header .card-pear {
          background-image: url("../img/gruszki.png"); } }
    .header .card-peas {
      background-image: url("../img/fasolkamobile.png"); }
      @media all and (min-width: 1025px) {
        .header .card-peas {
          background-image: url("../img/fasolka.png"); } }
    .header .card-honey {
      background-image: url("../img/miodmobile.png"); }
      @media all and (min-width: 1025px) {
        .header .card-honey {
          background-image: url("../img/miod.png"); } }
    .header .card .dark-bg {
      transition: 0.3s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent; }

@media all and (min-width: 1025px) {
  .hover:hover .food-price {
    display: none; }
  .hover:hover .dark-bg {
    background-color: rgba(0, 0, 0, 0.85); }
  .hover:hover .card--food__text {
    width: 95%;
    height: 283px;
    padding-bottom: 20px; }
  .hover:hover .details {
    transform: scale(1) !important; } }

.footer {
  padding: 29px 10px 36px 10px;
  border-top: 2px solid #00975f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 383px; }
  @media all and (min-width: 768px) {
    .footer {
      flex-direction: row;
      min-height: auto; } }
  .footer .logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; }
    .footer .logo-wrapper .logo-bnp {
      margin-left: 13px;
      width: 85%; }
      @media all and (min-width: 1025px) {
        .footer .logo-wrapper .logo-bnp {
          margin-left: auto;
          width: auto; } }
    @media all and (min-width: 428px) {
      .footer .logo-wrapper {
        flex-direction: row;
        flex-wrap: wrap; } }
    .footer .logo-wrapper a {
      margin: 0 auto; }
      @media all and (min-width: 428px) {
        .footer .logo-wrapper a {
          margin-right: 30px; } }
  .footer .logo-carr {
    width: 90%;
    display: block;
    max-width: 141px; }
    @media all and (min-width: 1025px) {
      .footer .logo-carr {
        width: auto; } }
  .footer .partner-logo {
    display: flex;
    align-items: center;
    width: 265px;
    justify-content: space-around;
    padding-left: 15px; }
    .footer .partner-logo p {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
      font-family: 'BNP-Sans'; }
  .footer .sil {
    width: 95%;
    padding: 5px 10px;
    max-width: 550px; }
    @media all and (min-width: 768px) {
      .footer .sil {
        padding: 20px 10px; } }
    @media all and (min-width: 1025px) {
      .footer .sil {
        padding: 5px 10px; } }
    @media all and (min-width: 1069px) {
      .footer .sil {
        width: 39%; } }
    .footer .sil p {
      margin: 0 auto;
      color: rgba(0, 0, 0, 0.6);
      font-family: 'BNP-Sans-Light';
      font-size: 10px;
      font-weight: 300;
      word-spacing: 2px;
      letter-spacing: 0.5px;
      max-width: 515px; }
  .footer .right-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
    @media all and (min-width: 768px) {
      .footer .right-content {
        flex-direction: row; } }
  .footer .social-media {
    padding: 10px 0; }
    @media all and (min-width: 768px) {
      .footer .social-media {
        padding: 0; } }
    .footer .social-media a {
      margin-right: 15px; }
  .footer .copyright {
    max-width: 189px;
    padding: 20px 0; }
    @media all and (min-width: 768px) {
      .footer .copyright {
        padding: 0; } }
    .footer .copyright p, .footer .copyright a {
      font-family: 'BNP-Sans-Light';
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
      word-spacing: 2px; }
    .footer .copyright a {
      text-decoration: underline; }

.card {
  width: 100%; }
  @media all and (min-width: 768px) {
    .card {
      width: 50%; } }
  @media all and (min-width: 1025px) {
    .card {
      width: 33.333333%; } }

.btn-wrapper {
  cursor: pointer;
  background-color: #00975f; }
  .btn-wrapper .arrow-down {
    margin-left: 10px; }
  .btn-wrapper .btn {
    margin: 0 auto;
    text-align: center;
    padding: 16px; }
    .btn-wrapper .btn a {
      color: white;
      font-family: 'BNP-Sans';
      font-size: 22px; }

.climate {
  display: flex;
  flex-wrap: wrap; }
  .climate__item {
    min-height: 417px;
    width: 100%; }
    @media all and (min-width: 1025px) {
      .climate__item {
        width: 50%;
        min-height: 477px; } }
    @media all and (min-width: 1800px) {
      .climate__item {
        min-height: 618px; } }
    .climate__item--text {
      background-color: #f3f3f3;
      display: flex;
      align-items: center;
      padding-left: 20px; }
      @media all and (min-width: 1025px) {
        .climate__item--text {
          padding-left: 40px; } }
    .climate__item--img {
      background-image: url("../img/bitmap.png");
      background-position-x: center; }
  .climate-results .climate__item--img {
    order: 2;
    background-image: url("../img/shutterstock.png");
    background-position-x: right; }
    @media all and (min-width: 1025px) {
      .climate-results .climate__item--img {
        order: inherit; } }

.primary-text {
  font-family: 'BNP-Bold';
  font-stretch: condensed;
  font-size: 55px; }
  @media all and (min-width: 1025px) {
    .primary-text {
      font-size: 94px; } }

.secondary-text {
  font-family: 'BNP-Sans-Light';
  font-size: 18px;
  line-height: 1.29;
  padding-top: 15px; }
  @media all and (min-width: 1025px) {
    .secondary-text {
      padding-top: 0;
      font-size: 24px; } }
  .secondary-text--bottom {
    padding-top: 20px; }
  .secondary-text span {
    font-family: 'BNP-Sans'; }

.climate-problems {
  display: flex;
  flex-wrap: wrap; }

.climate-issue {
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .climate-issue:nth-of-type(2n) {
    background-color: #00975f; }
    .climate-issue:nth-of-type(2n) .problem-details {
      color: white; }
  .climate-issue:nth-of-type(1) img {
    padding-top: 23px; }
  .climate-issue:nth-of-type(2) img {
    padding-left: 26px; }
  @media all and (min-width: 768px) {
    .climate-issue:nth-of-type(3) {
      order: 3; } }
  @media all and (min-width: 1025px) {
    .climate-issue:nth-of-type(3) {
      order: inherit; } }
  @media all and (min-width: 768px) {
    .climate-issue:nth-of-type(6) {
      order: 4; } }
  @media all and (min-width: 1025px) {
    .climate-issue:nth-of-type(6) {
      order: inherit; } }
  .climate-issue .problem-details {
    padding-top: 26px;
    font-family: 'BNP-Sans-Light';
    font-size: 16px;
    line-height: 1.44;
    text-align: center;
    margin: 0 auto; }
    .climate-issue .problem-details span {
      font-family: 'BNP-Sans'; }
  .climate-issue img {
    display: block;
    margin: 0 auto; }

.climate-rescue {
  padding: 73px 20px 74px 20px;
  min-height: 418px;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  @media all and (min-width: 1025px) {
    .climate-rescue {
      padding: 137px 120px 118px 45px; } }
  .climate-rescue .primary-text {
    text-transform: uppercase;
    font-family: 'BNP-Light';
    font-size: 45px; }
    @media all and (min-width: 1025px) {
      .climate-rescue .primary-text {
        font-size: 94px; } }
    .climate-rescue .primary-text span {
      font-family: 'BNP-Bold'; }
  .climate-rescue .secondary-text {
    max-width: none;
    font-size: 18px; }
    @media all and (min-width: 1025px) {
      .climate-rescue .secondary-text {
        font-size: 25px; } }

.active {
  width: 95% !important;
  max-width: 245px !important;
  min-height: 248px !important;
  padding-bottom: 20px !important;
  padding-right: 10px !important; }

.active-bg {
  background-color: rgba(0, 0, 0, 0.85) !important; }

.hidden {
  display: none !important; }

.text-show {
  transform: scale(1) !important; }

.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 12;
  overflow: hidden; }

.animation-content {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative; }
  .animation-content .years-slider {
    width: 140%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    align-items: center; }
    @media all and (min-width: 1025px) {
      .animation-content .years-slider {
        width: 100%; } }
    .animation-content .years-slider .primary-text {
      font-size: 40vh;
      text-align: left;
      color: transparent;
      text-shadow: 0 0 15px #00975f;
      min-width: 100%; }

.frame-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 288px;
  max-height: 288px;
  padding-left: 18.5px;
  z-index: 10;
  margin: 0 auto;
  display: flex;
  align-items: center; }
  @media all and (min-width: 768px) {
    .frame-wrapper {
      max-width: 544px;
      max-height: 544px;
      padding-left: 35px; } }
  .frame-wrapper .line {
    position: absolute;
    background-color: #00975f; }
    .frame-wrapper .line--horizontal {
      height: 3.7px;
      width: 100%; }
      @media all and (min-width: 1025px) {
        .frame-wrapper .line--horizontal {
          height: 7px; } }
    .frame-wrapper .line--vertical {
      height: 100%;
      width: 3.7px; }
      @media all and (min-width: 1025px) {
        .frame-wrapper .line--vertical {
          width: 7px; } }
    .frame-wrapper .line--top {
      top: 0;
      left: 0;
      width: 0; }
    .frame-wrapper .line--bottom {
      bottom: 0;
      left: 0;
      width: 0; }
    .frame-wrapper .line--right {
      right: 0;
      top: 0;
      height: 0; }
    .frame-wrapper .line--left {
      top: 0;
      left: 0;
      height: 0; }
  .frame-wrapper .text-wrapper {
    position: relative;
    z-index: 10; }
    .frame-wrapper .text-wrapper .primary-text {
      width: 0;
      overflow: hidden;
      white-space: nowrap;
      font-size: 50px; }
      @media all and (min-width: 768px) {
        .frame-wrapper .text-wrapper .primary-text {
          font-size: 94px; } }
      .frame-wrapper .text-wrapper .primary-text--bottom {
        padding-top: 30px;
        position: relative; }
        @media all and (min-width: 768px) {
          .frame-wrapper .text-wrapper .primary-text--bottom {
            padding-top: 40px; } }
      .frame-wrapper .text-wrapper .primary-text span {
        color: #00975f; }
      .frame-wrapper .text-wrapper .primary-text--animate {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 120vw;
        width: 150%;
        font-size: 40vh;
        text-align: left;
        color: transparent;
        text-shadow: 0 0 15px #00975f; }

#cookies-message-container {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #FFFFFF;
  display: block;
  font-size: 11px;
  position: fixed;
  width: 100%;
  z-index: 9999; }

#cookie {
  margin: auto;
  padding: 10px 0 10px 0;
  width: 95%;
  max-width: 1200px;
  position: relative; }

#cookies-message {
  display: inline-block;
  float: left;
  width: 100%;
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 10px 200px 13px 0;
  font-size: 10px;
  line-height: 10px;
  text-align: justify; }
  #cookies-message a {
    color: white;
    text-decoration: underline; }

.cookie {
  font-weight: bold; }

#cookie .close {
  color: #fff;
  font-size: 14px;
  background: #00915a;
  text-decoration: none;
  padding: 10px 25px;
  opacity: 1;
  position: absolute;
  right: 60px;
  top: 24px;
  box-sizing: initial; }

#cookie .close:hover, #cookie .close-2:hover {
  opacity: 0.8; }

#cookie .close-2 {
  background: #FFF;
  padding: 10px 12px;
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: 7px; }

.accept-cookies-checkbox {
  text-decoration: none; }

#cookie a span {
  text-decoration: none; }

@media screen and (max-width: 690px) {
  #cookies-message {
    padding: 10px 10px 30px; }
  #cookie .close {
    padding: 10px 25px;
    position: relative;
    right: -10px;
    top: -9px;
    display: inline-block; } }
