.footer {
  padding: 29px 10px 36px 10px;
  border-top: 2px solid $green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 383px;
  @media all and (min-width: $tablet) {
    flex-direction: row;
    min-height: auto;
  }
  .logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo-bnp {
      margin-left: 13px;
      width: 85%;
      @media all and (min-width: $desktop) {
        margin-left: auto;
        width: auto;
      }
    }
    @media all and (min-width: 428px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    a {
      margin: 0 auto;
      @media all and (min-width: 428px) {
        margin-right: 30px;
      }
    }
    margin-bottom: 20px;
  }
  .logo-carr {
    width: 90%;
    display: block;
    max-width: 141px;
    @media all and (min-width: $desktop) {
      width: auto;
    }
  }
  .partner-logo {
    display: flex;
    align-items: center;
    width: 265px;
    justify-content: space-around;
    padding-left: 15px;
    p {
      font-size: 12px;
      color: rgba(0,0,0,0.6);
      font-family: 'BNP-Sans';
    }
  }
  .sil {
    width: 95%;
    padding: 5px 10px;
    max-width: 550px;
    @media all and (min-width: $tablet) {
      padding: 20px 10px;
    }
    @media all and (min-width: $desktop) {
      padding: 5px 10px;
    }
    @media all and (min-width: 1069px) {
      width: 39%;
    }
    p {
      margin: 0 auto;
      color: rgba(0,0,0,0.6);
      font-family: 'BNP-Sans-Light';
      font-size: 10px;
      font-weight: 300;
      word-spacing: 2px;
      letter-spacing: 0.5px;
      max-width: 515px;
    }
  }
  .right-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @media all and (min-width: $tablet) {
      flex-direction: row;
    }
  }
  .social-media {
    padding: 10px 0;
    @media all and (min-width: $tablet) {
      padding: 0;
    }
    a {
      margin-right: 15px;
    }
  }
  .copyright {
    max-width: 189px;
    padding: 20px 0;
    @media all and (min-width: $tablet) {
      padding: 0;
    }
    p, a {
      font-family: 'BNP-Sans-Light';
      font-size: 12px;
      color: rgba(0,0,0,0.6);
      word-spacing: 2px;
    }
    a {
      text-decoration: underline;
    }
  }
}