.header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    .card {
        position: relative;
        font-family: 'BNP-Bold';
        text-align: center;
        min-height: 278px;
        @media all and (min-width: 501px) {
          height: 51vw;
          max-height: 400px;
        }
        @media all and (min-width: $desktop) {
          min-height: 373px;
          max-height: none;
          height: calc(50vh - 27px);;
        }
        @media all and (min-width: $desktop-lg) {
          min-height: 420px;
          //height: 23vw;
          // height: calc(50vh - 19px);
        }
        &-title {
            min-height: 276px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            @media all and (min-width: $tablet) {
              padding-top: 62px;
              display: block;
              height: auto;
            }
            h1 {
                width: 100%;
                font-size: 69.6px;
                text-align: left;
                padding-left: 20px;
                @media all and (min-width: $tablet) {
                  font-size: 92px;
                  padding-left: 40px;
                }
                span {
                    color: $green;
                }
            }
            p {
                margin: 0 auto;
                
                font-size: 18.1px;
                //max-width: 319px;
                margin: 0 auto;
                padding-left: 20px;
                @media all and (min-width: $tablet) {
                  font-size: 24px;
                  padding-left: 40px;
                  //max-width: 424px;
                }
                font-family: 'BNP-Sans-Light';
                line-height: 28px;
                text-align: left;
            }
            .text-wrapper {
              width: 100%;
              margin: 0 auto;
            }
        }
        &--food {
          background-color: black;
          padding: 25px 0 0 20px;
          @media all and (min-width: $desktop) {
            padding: 40px 0 0 41px;
          }
          p {
            text-align: left;
            color: white;
            &.details {
              padding-top: 20px;
              font-family: 'BNP-Light';
              width: 100%;
              font-size: 17px;
              line-height: 1.26;
              font-stretch: condensed;
              overflow: hidden;
              white-space: nowrap;
              transform: scale(0);
              transform-origin: top left;
              transition: 0.2s;
              @media all and (min-width: 375px) {
                font-size: 19px;
              }
            }
            &.primary-text {
              font-size: 33px;
            }
            &.food-price {
              font-size: 60px;
              padding-top: 7px;
              span {
               font-size: 33px;
              }
            }
          }
          &__text {
            transition: 0.4s;
            border: 7px solid $green;
            width: 167.5px;
            height: 167.5px;
            padding: 19px 0 0 11px;
            position: relative;
            z-index: 10;
            max-width: 245px;
            @media all and (min-width: $desktop) {
              max-width: 300px;
            }
            .preview-btn {
              height: 24px;
              width: calc(100% + 14px);
              background-color: $green;
              position: absolute;
              font-family: 'BNP-Sans';
              font-size: 10px;
              display: flex;
              align-items: center;
              justify-content: space-around;
              left: -7px;
              bottom: -26px;
              .arrow {
                font-size: 20px;
                font-family: 'BNP-Sans';
              }
              p {
                margin-left: -13px;
              }
            }
          }
          // @media all and (min-width: $desktop) {
          //   &:hover {
          //     .food-price {
          //       display: none;
          //     }
          //     .dark-bg {
          //       background-color: rgba(0,0,0,0.85);
          //     }
          //     .card--food__text {
          //       width: 95%;
          //       height: 283px;
          //       padding-bottom: 20px;
          //       //padding-right: 10px;
          //     }
          //     .details {
          //       transform: scale(1);
          //     }
          //   }
          // }
        }
        
        &-raspberry {
          background-image: url('../img/malinamobile.png');
          @media all and (min-width: $desktop) {
            background-image: url('../img/malina.png');
          }
        }
        &-tomato {
          background-image: url('../img/pomidormobile.png');
          @media all and (min-width: $desktop) {
            background-image: url('../img/pomidor.png');
          }
        }
        &-pear {
          background-image: url('../img/gruszkimobile.png');
          @media all and (min-width: $desktop) {
            background-image: url('../img/gruszki.png');
          }
        }
        &-peas {
          background-image: url('../img/fasolkamobile.png');
          @media all and (min-width: $desktop) {
            background-image: url('../img/fasolka.png');
          }
        }
        &-honey {
          background-image: url('../img/miodmobile.png');
          @media all and (min-width: $desktop) {
            background-image: url('../img/miod.png');
          }
        }
        .dark-bg {
          transition: 0.3s;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: transparent;
        }
    }
}

.hover {
  @media all and (min-width: $desktop) {
    &:hover {
      .food-price {
        display: none;
      }
      .dark-bg {
        background-color: rgba(0,0,0,0.85);
      }
      .card--food__text {
        width: 95%;
        height: 283px;
        padding-bottom: 20px;
        //padding-right: 10px;
      }
      .details {
        transform: scale(1) !important;
      }
    }
  }
}