* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
}

div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

a {
  text-decoration: none;
}

.only-desktop {
  display: none;
  @media all and (min-width: $desktop) {
    display: block;
  }
}

.only-mobile {
  @media all and (min-width: $desktop) {
    display: none !important;
  }
}