@font-face {
    font-family: 'BNP-Bold';
    src: url('../fonts/BNPPSansCondBoldv2.otf') format('otf'),
    url('../fonts/BNPPSansCondBoldv2.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BNP-Light';
    src: url('../fonts/BNPPSansCondLightv2.otf') format('otf'),
    url('../fonts/BNPPSansCondLightv2.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BNP-Regular';
    src: url('../fonts/BNPPSansCondv2.otf') format('otf'),
    url('../fonts/BNPPSansCondv2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BNP-Sans';
    src: url('../fonts/bnppsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BNP-Sans-Light';
    src: url('../fonts/bnppsanslight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}