$green: #00975f;
$grey: #f3f3f3;

$desktop: 1025px;
$desktop-lg: 1800px;
$tablet: 768px;

$animation-grow: 0.2s;
$animation-text: 0.3s;
$animation-years: 3s;
$animation-years-slide: 4.8s;
$animation-slide-up: 1.8s;