.grow-up {
  animation: grow-up $animation-grow ease forwards;
}

.grow-down {
  animation: grow-down $animation-grow ease #{$animation-grow * 2} forwards;
}

.grow-left {
  animation: grow-left $animation-grow ease #{$animation-grow} forwards;
}

.grow-right {
  animation: grow-right $animation-grow ease #{$animation-grow * 3} forwards;
}

.show-text-1 {
  animation: show-text $animation-text steps(14, end) #{$animation-grow * 4} forwards;
}

.show-text-2 {
  animation: show-text $animation-text steps(8, end) #{$animation-grow * 4 + $animation-text} forwards;
}

.show-text-3 {
  animation: show-text $animation-text steps(15, end) #{$animation-grow * 4 + 2 * $animation-text} forwards;
}

.slide-years {
  animation: years-mobile $animation-years-slide ease-in-out #{$animation-grow * 4 + $animation-text} forwards;
  @media all and (min-width: $tablet) {
    animation: years $animation-years-slide ease-in-out #{$animation-grow * 4 + $animation-text} forwards;
  }
}


// .text--slide {
//   @for $i from 4 through 24 {
//     &:nth-child(#{$i}) {
//       animation: years $animation-years ease-in-out #{$animation-grow * 4 + 3 * $animation-text + 0.7 * $animation-years * ($i - 4)} forwards;
//     }
//   }
// }


// .frame-wrapper {
//   .text-wrapper {
//     .primary-text--animate:last-of-type {
//       animation: years-last-mobile $animation-last-year cubic-bezier(0.93, 0, 0.18, 1) #{$animation-grow * 4 + 3 * $animation-text + 0.7 * $animation-years * 21} forwards;
//       @media all and (min-width: $tablet) {
//         animation: years-last $animation-last-year cubic-bezier(0.93, 0, 0.18, 1) #{$animation-grow * 4 + 3 * $animation-text + 0.7 * $animation-years * 21} forwards;
//       }
//     }
//   }
// }

.slide-up {
  animation: slide-up $animation-slide-up cubic-bezier(0.93, 0, 0.18, 1) #{$animation-grow * 4 + 3 * $animation-text + $animation-years} forwards;
}