@keyframes grow-up {
  from {
    height: 0;
    top: 100%;
  }
  to {
    height: 100%;
    top: 0;
  }
}

@keyframes grow-down {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes grow-left {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes grow-right {
  from {
    width: 0;
    left: 100%
  }
  to {
    width: 100%;
    left: 0;
  }
}

@keyframes show-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes years { 
  from {
    left: 100%;
  }
  to {
    left: -3200%;
  }
}

@keyframes years-mobile { 
  from {
    left: 100%;
  }
  to {
    left: -3200%;
  }
}

@keyframes years-last { 
  0% {
    left: 100%;
  }
  10% {
    left: 0vw;
    //width: 35%;
  }
  90% {
    left: 65%;
    //width: 35%;
  }
  98% {
    left: 65%vw;
    color: $green;
  }
  100% {
    //position: static;
    left: 65%;
    top: 71%;
    color: $green;
    width: 35%;
    font-size: 94px;
    text-shadow: none;
    //color: $green;
    //width: 35%;
    //padding-top: 40px;

  }
}

@keyframes years-last-mobile { 
  0% {
    left: 100%;
  }
  10% {
    left: 0vw;
    //width: 35%;
  }
  90% {
    left: 0vw;
    //width: 35%;
  }
  98% {
    left: 65%;
    top: 71%;
    width: 35%;
  }
  100% {
    //position: static;
    left: 65%;
    top: 73%;
    width: 35%;
    font-size: 50px;
    text-shadow: none;
    color: $green;
    width: 35%;
    //padding-top: 40px;
    min-width: none !important;
  }
}

@keyframes slide-up {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}
